<div  class="container mt-5">
    <p class="text-center text-primary" >Contact Me</p>
    <div class="row my-3">
        <div class="mx-auto col-md-6 d-flex justify-content-around">
            <a href="https://github.com/arnab15"><i class="fab fa-github fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/arnab-sahoo-0b3427187/">
                <i class="fab fa-linkedin fa-2x"></i> </a>
            <a href="https://twitter.com/arnabsahoo9"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
    </div>
    <div class="text-center text-success">Created By @Arnab</div>
</div>


</head>
</body>
</html>
    
